/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    header img {
        width: 150px;
    }

    .primary-btn a {
        font-size: 10px;
        padding: 8px 10px;
    }

    /* banner start  */

    .banner {
        padding: 60px 0;
        background-color: #000;
    }

    .banner h1 {
        font-weight: 700;
        font-size: 24px;
        color: #CC0066;
        margin-bottom: 20px;
    }

    .banner h2 {
        font-weight: 500;
        color: #fff;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .banner p {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
    }

    /* banner end  */

    /* performance-model start  */

    .performance-model {
        padding: 60px 0;
    }

    .performance-model h1 {
        font-size: 26px;
    }

    .performance-model p {
        font-size: 16px;
    }

    /* performance-model end  */
    /* how it operate start  */

    .how-it-operate h1 {
        font-size: 26px;
    }

    .how-it-operate h2 {
        font-size: 18px;
    }

    .how-it-operate h3 {
        font-weight: 700;
        color: #000;
        font-size: 20px;
    }

    .how-it-operate p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }

    /* how it operate end  */

    /* Case study start  */

    .case-study h1 {
        font-size: 26px;
    }

    /* Case study end */

    iframe {
        height: 800px !important;
    }


    .faq h1{
        font-size: 26px;
    }

    .png-bg{
        width: 250px;
    }
    .accordion-button{
        padding: 20px;
    }
    .accordion-body{
        padding: 20px;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    header img {
        width: 200px;
    }

    /* banner start  */

    .banner {
        padding: 60px 0;
        background-color: #000;
    }

    .banner h1 {
        font-weight: 700;
        font-size: 36px;
        color: #CC0066;
        margin-bottom: 20px;
    }

    .banner h2 {
        font-weight: 500;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .banner p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

    /* banner end  */

    /* performance-model start  */

    .performance-model h1 {
        font-size: 26px;
    }

    .performance-model p {
        font-size: 16px;
    }

    /* performance-model end  */

    /* how it operate start  */

    .how-it-operate h3 {
        font-weight: 700;
        color: #000;
        font-size: 20px;
    }

    .how-it-operate p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }

    /* how it operate end  */


    iframe {
        height: 800px !important;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /* banner start  */

    .banner {
        padding: 80px 0;
        background-color: #000;
    }

    .banner h1 {
        font-weight: 700;
        font-size: 36px;
        color: #CC0066;
        margin-bottom: 20px;
    }

    .banner h2 {
        font-weight: 500;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .banner p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

    /* banner end  */

    /* performance-model start  */

    .performance-model h1 {
        font-size: 22px;
    }

    .performance-model p {
        font-size: 16px;
    }

    /* performance-model end  */

    /* how it operate start  */

    .how-it-operate h3 {
        font-weight: 700;
        color: #000;
        font-size: 20px;
    }

    .how-it-operate p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }

    /* how it operate end  */

    iframe {
        height: 850px !important;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* banner start  */

    .banner {
        padding: 100px 0 120px 0;
        background-color: #000;
    }

    .banner h1 {
        font-weight: 700;
        font-size: 36px;
        color: #CC0066;
        margin-bottom: 20px;
    }

    .banner h2 {
        font-weight: 500;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .banner p {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }

    /* banner end  */

    /* performance-model start  */

    .performance-model h1 {
        font-size: 30px;
    }

    .performance-model p {
        font-size: 16px;
    }

    /* performance-model end  */
}

/*X large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/*XX Large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}